<div id="page-content">
  <br />

  <br />

  <div class="row">
    <!-- <div class="col-md-6"> -->
    <div style="margin-top: 30px" class="panel">
      <div class="panel-heading">
        <p class="panel-title">DIVISION-DETAILS</p>
      </div>
      <div class="panel-body">
        <div class="col-12 col-lg-3">
          <h6 class="panel-title">NAME OF DIVISION</h6>
          <p class="panel-body">1st Division</p>
        </div>
        <div class="col-12 col-lg-3">
          <h6 class="panel-title">NAME OF COMMANDER</h6>
          <div class="panel-body">
            <span>Maj Gen F. Yahya</span>
          </div>
        </div>
        <div class="col-12 col-lg-3">
          <h6 class="panel-title">DIVISION HQ</h6>
          <p class="panel-body">Kaduna</p>
        </div>
        <div class="col-12 col-lg-3">
          <h6 class="panel-title">CREATION DATE</h6>
          <p class="panel-body">1967</p>
        </div>
      </div>
    </div>
    <!-- </div> -->
  </div>
  <div class="row">
    <div class="panel">
      <div class="panel-body">
        <div class="pad-btm form-inline">
          <div class="row">
            <div class="col-sm-6 table-toolbar-left">
              <div class="btn-group">
                <div class="panel-heading">
                  <p class="panel-title">UNITS IN THE DIVISION</p>
                </div>
              </div>
            </div>
            <div class="col-sm-6 table-toolbar-right">
              <div class="form-group">
                <input
                  id="demo-input-search2"
                  type="text"
                  placeholder="Search"
                  class="form-control"
                  autocomplete="off"
                />
              </div>
              <div class="btn-group">
                <div class="btn-group dropdown">
                  <button
                    data-toggle="dropdown"
                    class="btn btn-default dropdown-toggle"
                  >
                    <i class="demo-pli-gear"></i>
                    <span class="caret"></span>
                  </button>
                  <ul role="menu" class="dropdown-menu dropdown-menu-right">
                    <li><a href="#">Action</a></li>
                    <li><a href="#">Another action</a></li>
                    <li><a href="#">Something else here</a></li>
                    <li class="divider"></li>
                    <li><a href="#">Separated link</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="table-responsive">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>Units Name</th>
                <th>Unit Commander</th>
                <th>Creation Date</th>
                <th>Capacity</th>
                <th>View Details</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td><a> 32 Artillery Brigade</a></td>
                <td>Brig.-Gen. Raymond Utsaha</td>
                <td>
                  <span class="text-muted"
                    ><i class="demo-pli-clock"></i> Oct 22, 2014</span
                  >
                </td>
                <td>45.00</td>
                <td>
                  <a
                    [routerLink]="['/single-unit']"
                    class="label label-table label-primary"
                    >View</a
                  >
                </td>
              </tr>
              <tr>
                <td><a> Amphlibious Brigade</a></td>
                <td>Maj Gen David Ejoor</td>
                <td>
                  <span class="text-muted"
                    ><i class="demo-pli-clock"></i> Oct 24, 2014</span
                  >
                </td>
                <td>245.30</td>
                <td>
                  <div class="label label-table label-primary">View</div>
                </td>
              </tr>
              <tr>
                <td><a> 4 Brigade</a></td>
                <td>Lt Gen Mohammed Inuwa Wushishi</td>
                <td>
                  <span class="text-muted"
                    ><i class="demo-pli-clock"></i> Oct 24, 2014</span
                  >
                </td>
                <td>38.00</td>
                <td>
                  <div class="label label-table label-primary">View</div>
                </td>
              </tr>

              <tr>
                <td><a> 63rd Brigade</a></td>
                <td>Maj Gen Chris Alli</td>
                <td>
                  <span class="text-muted"
                    ><i class="demo-pli-clock"></i> Oct 15, 2014</span
                  >
                </td>
                <td>77.99</td>
                <td>
                  <div class="label label-table label-primary">View</div>
                </td>
              </tr>
              <tr>
                <td><a>16 Brigade</a></td>
                <td>Lt Gen Aliyu Gusau Mohammed</td>
                <td>
                  <span class="text-muted"
                    ><i class="demo-pli-clock"></i> Oct 12, 2014</span
                  >
                </td>
                <td>18.00</td>
                <td>
                  <div class="label label-table label-primary">View</div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
