<div class="section">
  <div class="container">
    <div class="row">
      <div class="col-md-8 blog-content pe-5">
        <p class="lead">
          The Nigerian Army 2 Division was also created during the civil war
          between 1967 and 1970 to protect and secure the South-West flank of
          the country and to ensure the security of its borders. The Head
          Quarters is in Ibadan, Oyo State. It is also a mechanized Infantry
          connected with combat support and combat service support units.
        </p>
      </div>
      <div class="col-md-4 sidebar">
        <div class="sidebar-box">
          <div class="categories">
            <h3>Components</h3>
            <li>Rece Battalion at Nguru in Yobe State</li>
            <li>1 Mechanised Brigade at Sokoto</li>
            <li>65 Mechanised Battalion</li>
            <li>81 Motorised Battalion</li>
            <li>223 Light Battalion</li>
          </div>
        </div>
        <div class="sidebar-box">
          <div class="categories">
            <h3>Formations</h3>
            <li>3rd Brigade (Kano)</li>
            <li>41 Division Engineers formation</li>
            <li>31st Artillery Brigade</li>
          </div>
        </div>
        <div class="sidebar-box">
          <img
            src="../../../assets/img/protecting.jpg"
            alt="Gen.Thompson"
            class="img-fluid mb-5 w-70 rounded-circle"
          />
          <h3 class="text-black">About The Commander</h3>
          <p>
            Even the all-powerful Pointing has no control about the blind texts
            it is an almost unorthographic life One day however a small line of
            blind text by the name of Lorem Ipsum decided to leave for the far
            World of Grammar.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>
