<footer
  class="page_footer pt-4 ds s-pt-60 s-pb-40 c-gutter-150 s-pt-xl-100 s-pb-xl-80"
>
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div id="custom_html-5" class="widget_text widget widget_custom_html">
          <h3 class="widget-title">Contact Us</h3>
          <div class="textwidget custom-html-widget">
            <div class="media side-icon-box">
              <div class="icon-styled color-main fs-14">
                <i class="ico icon-map-pin-silhouette"></i>
              </div>
              <p class="media-body">ABUJA, 3280 ,GARKI 22301</p>
            </div>
            <div class="media side-icon-box">
              <div class="icon-styled color-main fs-14">
                <i class="ico icon-phone-receiver"></i>
              </div>
              <p class="media-body">
                +1 703 518 60 99 <span>+1 234 056 78 90</span>
              </p>
            </div>
            <div class="media side-icon-box">
              <div class="icon-styled color-main fs-14">
                <i class="fa fa-envelope"></i>
              </div>
              <p class="media-body">
                <a href="#">info@ngarmy.com</a>
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div id="mwt_bloginfo-6" class="widget widget_bloginfo">
          <img src="../../assets/img/army_logo.jpg" class="" alt="Logo" />
        </div>
        <div id="custom_html-8" class="widget_text widget widget_custom_html">
          <div class="textwidget pt-4 custom-html-widget">
            <p>
              A governmental organization which conducts intelligence activities
              for the internal security of a nation.
            </p>
            <div class="fw-divider-special">
              <p class="special"></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
