<div class="hero d-flex align-items-center">
  <section></section>
</div>

<section class="featured-services">
  <h4 class="mb-2" style="text-align: center">CORPS AND SERVICES</h4>
  <div class="container aos-init aos-animate" data-aos="fade-up">
    <div class="row">
      <div class="col-md-6 col-lg-4">
        <div
          class="icon-box aos-init aos-animate"
          data-aos="fade-up"
          data-aos-delay="100"
        >
          <div class="icon">
            <img
              src="../../assets//img/Holdfast.jpg"
              class="card-img-top"
              alt="..."
            />
          </div>
          <h4 class="title" style="align-items: center">
            <a href="">Hold Fast</a>
          </h4>
        </div>
      </div>

      <div class="col-md-6 col-lg-4">
        <div
          class="icon-box aos-init aos-animate"
          data-aos="fade-up"
          data-aos-delay="100"
        >
          <div class="icon">
            <img
              src="../../assets//img/discipline.jpg"
              class="card-img-top"
              alt="..."
            />
          </div>
          <h4 class="title"><a href="">Infantry</a></h4>
        </div>
      </div>

      <div class="col-md-6 col-lg-4">
        <div
          class="icon-box aos-init aos-animate"
          data-aos="fade-up"
          data-aos-delay="100"
        >
          <div class="icon">
            <img
              src="../../assets//img/signals.jpg"
              class="card-img-top"
              alt="..."
            />
          </div>
          <h4 class="title"><a href=""> Army Signals</a></h4>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="cta" class="cta">
  <div class="container">
    <div class="column aos-init aos-animate" data-aos="zoom-in">
      <div class="col-lg-9 text-center text-lg-start">
        <h3>LASTEST NEWS AND EVENTS</h3>
        <p>
          Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
          dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
          proident, sunt in culpa qui officia deserunt mollit anim id est
          laborum.
        </p>
      </div>
      <div class="col-lg-3 cta-btn-container text-center">
        <a
          class="cta-btn align-middle"
          href="https://www.youtube.com/watch?v=MZW8eGpozhg"
          >Call To Action</a
        >
      </div>
    </div>
  </div>
</section>

<app-info></app-info>
