<div class="boxed">
  <!--CONTENT CONTAINER-->
  <!--===================================================-->
  <div id="content-container">
    <div id="page-head">
      <hr class="new-section-sm bord-no" />
      <div class="text-center">
        <h3>Hi Aaron Chavez! Welcome back to the Dashboard.</h3>
        <p>
          Check out your past searches and the content you’ve browsed in.
          <a href="#" class="btn-link">View last results</a>
        </p>
      </div>
      <hr class="new-section-md bord-no" />
    </div>

    <!--Page content-->
    <!--===================================================-->
    <div id="page-content">
      <div class="row">
        <div class="col-md-2 col-md-offset-3">
          <div class="panel">
            <div class="panel-body text-center">
              <div class="pad-ver mar-top text-main">
                <i class="demo-pli-male icon-4x"></i>
              </div>
              <p class="text-lg text-semibold mar-no text-main">Register</p>
              <p class="text-muted">32TB Total storage</p>

              <a [routerLink]="['/register']" class="btn btn-primary mar-ver">
                Register Soldier
              </a>
            </div>
          </div>
        </div>
        <div class="col-md-2">
          <div class="panel">
            <div class="panel-body text-center">
              <div class="pad-ver mar-top text-main">
                <i class="demo-pli-home icon-4x"></i>
              </div>
              <p class="text-lg text-semibold mar-no text-main">Divisions</p>
              <p class="text-muted">Latest Technology</p>

              <a [routerLink]="['/divisions']" class="btn btn-primary mar-ver"
                >Divisions</a
              >
            </div>
          </div>
        </div>
        <div class="col-md-2">
          <div class="panel">
            <div class="panel-body text-center">
              <div class="pad-ver mar-top text-main">
                <i class="demo-pli-consulting icon-4x"></i>
              </div>
              <p class="text-lg text-semibold mar-no text-main">Deployment</p>
              <p class="text-muted">We are here 24/7</p>

              <button
                [routerLink]="['/deployed-lists']"
                class="btn btn-primary mar-ver"
              >
                Deployed Soldiers
              </button>
            </div>
          </div>
        </div>
      </div>

      <hr class="new-section-md bord-no" />
      <div class="row">
        <div class="col-md-10 col-md-offset-1">
          <!---------------------------------->

          <div class="row">
            <div class="col-md-3">
              <div
                class="panel panel-warning panel-colorful media middle pad-all"
              >
                <div class="media-left">
                  <div class="pad-hor">
                    <i class="demo-pli-file-word icon-3x"></i>
                  </div>
                </div>
                <div class="media-body">
                  <p class="text-2x mar-no text-semibold">8</p>
                  <p class="mar-no">Divisions</p>
                </div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="panel panel-info panel-colorful media middle pad-all">
                <div class="media-left">
                  <div class="pad-hor">
                    <i class="demo-pli-file-zip icon-3x"></i>
                  </div>
                </div>
                <div class="media-body">
                  <p class="text-2x mar-no text-semibold">241</p>
                  <p class="mar-no">Military Units</p>
                </div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="panel panel-mint panel-colorful media middle pad-all">
                <div class="media-left">
                  <div class="pad-hor">
                    <i class="demo-pli-camera-2 icon-3x"></i>
                  </div>
                </div>
                <div class="media-body">
                  <p class="text-2x mar-no text-semibold">241</p>
                  <p class="mar-no">Formations</p>
                </div>
              </div>
            </div>
            <div class="col-md-3">
              <div
                class="panel panel-purple panel-colorful media middle pad-all"
              >
                <div class="media-left">
                  <div class="pad-hor">
                    <i class="demo-pli-video icon-3x"></i>
                  </div>
                </div>
                <div class="media-body">
                  <p class="text-2x mar-no text-semibold">241</p>
                  <p class="mar-no">Videos</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
