.page_header .row {
  min-height: 60px;
}

.nav {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0px;
  margin-bottom: 0px;
  list-style: none;
}

.ds a:not(.btn) {
  color: rgb(255, 255, 255);
}
.nav-wrap {
  align-items: center;
  -webkit-box-align: center;
  -webkit-box-pack: justify;
  display: -webkit-flex;
  justify-content: space-between;
}

a.logo {
  align-items: center;
  -webkit-box-align: center;
  display: flex;
}

.page_header a {
  display: inline-block;
}

.ds.ms .ds.ms {
  background-color: rgb(22, 35, 44);
}

.header_absolute .page_header,
.header_absolute .page_header_wrapper {
  left: 0px;
  right: 0px;
  z-index: 1002;
}

.boxed .page_header,
.page_header.affix {
  box-shadow: rgba(100, 100, 100, 0.05) 0px 2px 15px 0px;
  opacity: 0.98;
  z-index: 1001;
  position: fixed !important;
}

.ds.ms {
  background-color: rgb(13, 22, 27);
}

.ds * .ds {
  background-color: rgb(10, 16, 20);
}

.page_header {
  height: auto;
  left: 0px;
  position: relative;
  right: 0px;
  top: 0px;
  width: 100%;
  z-index: 1000;
  margin: 0px;
  padding: 0px;
  transition: all 0.5s ease-in-out 0s;
}

l:last-child,
ol:last-child,
p:last-child {
  margin-bottom: 0px;
}
@media (min-width: 1200px) {
  .sf-menu,
  .sf-menu ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
  }
}
@media (min-width: 1200px) {
  .sf-menu {
    display: block;
  }

  .nav {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0px;
    margin-bottom: 0px;
    list-style: none;
  }
}

@media (min-width: 1200px) {
  .sf-menu > li {
    display: inline-block;
    position: relative;
  }
}
@media (min-width: 1200px) {
  .sf-menu li {
    white-space: nowrap;
  }
}
@media (min-width: 1200px) {
  .sf-menu li {
    position: relative;
  }
}

@media (min-width: 1200px) {
  .justify-nav-end .top-nav {
    -webkit-box-pack: end;
    justify-content: flex-end;
  }
}

@media (min-width: 1200px) {
  .top-nav {
    align-items: center;
    -webkit-box-align: center;
    -webkit-box-flex: 10;
    display: -webkit-box;
    flex-grow: 10;
    flex-wrap: nowrap;
    position: relative;
  }
}
