<header class="page_header ms justify-nav-end ds cover-background affix">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-xl-2 col-lg-3 col-md-4 col-4">
        <a [routerLink]="['/home']" class="logo logo_image_and_text">
          <!-- <img src="../../" alt="Arma" /> -->
          <span class="logo-text"> Nigerian Army </span> </a
        >w
      </div>
      <div class="col-xl-10 col-lg-9 col-md-8 col-8 text-sm-center"></div>
    </div>
    <!-- header toggler -->
    <span class="toggle_menu"><span></span></span>
  </div>
</header>
