<div class="section">
  <div class="container">
    <div class="row">
      <div class="col-md-8 blog-content pe-5">
        <p class="lead">
          The 6th Division of the Nigerian Army is the newest of the Nigerian
          Army formations. It was established on 8 November 2016 with the
          primary aim of securing Oil and Gas facilities in the Niger Delta and
          Coastal areas of the country and to secure the borders of the area.
          The 6th Division has its Headquarters in Port Harcourt, Rivers State
          where the activities of all of the division are coordinated.
        </p>
      </div>
      <div class="col-md-4 sidebar">
        <div class="sidebar-box">
          <div class="categories">
            <h3>Formations</h3>
            <li>21 Armoured Brigade Maiduguri</li>
            <li>23 Armoured Brigade Yola</li>
            <li>
              33 Artillery Brigades includes 331 and 332 Field Artillery
              Regiments.
            </li>
            <li>23 Brigade which includes 231 and 232 Tank Battalions.</li>
          </div>
        </div>
        <div class="sidebar-box">
          <img
            src="../../../assets/img/protecting.jpg"
            alt="Gen.Thompson"
            class="img-fluid mb-5 w-70 rounded-circle"
          />
          <h3 class="text-black">About The Commander</h3>
          <p>
            Even the all-powerful Pointing has no control about the blind texts
            it is an almost unorthographic life One day however a small line of
            blind text by the name of Lorem Ipsum decided to leave for the far
            World of Grammar.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>
