.about .content h3 {
  font-weight: 600;
  font-size: 26px;
}
.section-title {
  text-align: center;
  padding-bottom: 15px;
}

.team .member {
  position: relative;
  box-shadow: 0px 2px 15px rgb(0 0 0 / 10%);
  padding: 30px;
  border-radius: 10px;
  background: #fff;
}

.team .member .pic {
  overflow: hidden;
  width: 180px;
  border-radius: 50%;
}

.team .member .member-info {
  padding-left: 30px;
}

.cta .cta-btn {
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 15px;
  letter-spacing: 0.5px;
  display: inline-block;
  padding: 8px 26px;
  border-radius: 2px;
  transition: 0.5s;
  margin: 10px;
  border-radius: 50px;
  border: 2px solid #f6b024;
  color: #fff;
}

.about .content ul {
  list-style: none;
  padding: 0;
}

.about .content ul li {
  display: flex;
  align-items: flex-start;
  margin-bottom: 35px;
}

.about .content ul li:first-child {
  margin-top: 35px;
}

.about .content ul i {
  background: #fff;
  box-shadow: 0px 6px 15px rgba(16, 110, 234, 0.12);
  font-size: 24px;
  padding: 20px;
  margin-right: 15px;
  color: #106eea;
  border-radius: 50px;
}

.about .content ul h5 {
  font-size: 18px;
  color: #555555;
}

.about .content ul p {
  font-size: 15px;
}

h1.special-heading {
  font-size: 63px;
  font-weight: 400;
  letter-spacing: 3px;
  line-height: 1.2;
  margin-left: 0px;
  margin-right: 0px;
  max-width: 80%;
  overflow-wrap: break-word;
}

.ls h1,
.ls h2,
.ls h3,
.ls h4,
.ls h5,
.ls h6 {
  color: rgb(19, 30, 37);
}

.response,
.color-main,
h1.color-main {
  color: rgb(244, 202, 89);
  border-color: rgb(244, 202, 89);
}

h1.special-heading.text-center {
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 1440px) {
  h1.special-heading {
    max-width: 85%;
  }
}

.about .content p:last-child {
  margin-bottom: 0;
}

@media (min-width: 769px) {
  .cta .cta-btn-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
}
