<section id="team" class="team section-bg">
  <div class="container aos-init aos-animate" data-aos="fade-up">
    <h1 class="special-heading text-center">
      <span class=""> <span class="color-main">Army </span> Divisions </span>
    </h1>

    <div class="row">
      <div
        class="col-lg-6 aos-init aos-animate"
        data-aos="fade-up"
        data-aos-delay="100"
      >
        <div class="member d-flex align-items-start">
          <div class="pic">
            <img src="../../assets//img/parade2.jpg" class="img-fluid" alt="" />
          </div>
          <div class="member-info">
            <h5>3rd DIVISION</h5>
            <h4>Maj. General B.I Ahanotu</h4>
            <span>Commanding Officer</span>
            <p>Explicabo voluptatem mollitia et repellat qui dolorum quasi</p>
            <a [routerLink]="['/division-one']" class="btn btn-primary"
              >Read More</a
            >
          </div>
        </div>
      </div>

      <div
        class="col-lg-6 mt-4 mt-lg-0 aos-init aos-animate"
        data-aos="fade-up"
        data-aos-delay="200"
      >
        <div class="member d-flex align-items-start">
          <div class="pic">
            <img
              src="../../assets/img/military-1504824_1920.jpg"
              class="img-fluid"
              alt=""
            />
          </div>
          <div class="member-info">
            <h5>7th Infantry Division (JTF-RO)</h5>
            <h4>Brig. Gen. A.B Biu</h4>
            <span>Commanding Officer</span>
            <p>
              Aut maiores voluptates amet et quis praesentium qui senda para
            </p>
            <a href="#" class="btn btn-primary">Read More</a>
          </div>
        </div>
      </div>

      <div
        class="col-lg-6 mt-4 aos-init aos-animate"
        data-aos="fade-up"
        data-aos-delay="300"
      >
        <div class="member d-flex align-items-start">
          <div class="pic">
            <img
              src="../../assets/img/pexels-pixabay-372797.jpgs"
              class="img-fluid"
              alt=""
            />
          </div>
          <div class="member-info">
            <h5>81st DIVISION</h5>
            <h4>Maj. Gen. P.J Dauke.</h4>
            <span>Commanding Officer</span>
            <p>Quisquam facilis cum velit laborum corrupti fuga rerum quia</p>
            <a href="#" class="btn btn-primary">Read More</a>
          </div>
        </div>
      </div>

      <div
        class="col-lg-6 mt-4 aos-init aos-animate"
        data-aos="fade-up"
        data-aos-delay="400"
      >
        <div class="member d-flex align-items-start">
          <div class="pic">
            <img
              src="../../assets/img/pexels-pixabay-163443.jpg"
              class="img-fluid"
              alt=""
            />
          </div>
          <div class="member-info">
            <h5>82nd Division (Airborne and Amphibious)</h5>
            <h4>Maj. General A.B Abubakar.</h4>
            <span>Commanding Officer</span>
            <p>
              Dolorum tempora officiis odit laborum officiis et et accusamus
            </p>
            <a href="#" class="btn btn-primary">Read More</a>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div
        class="col-lg-6 aos-init aos-animate"
        data-aos="fade-up"
        data-aos-delay="100"
      >
        <div class="member d-flex align-items-start">
          <div class="pic">
            <img src="../../assets//img/parade2.jpg" class="img-fluid" alt="" />
          </div>
          <div class="member-info">
            <h5>3rd DIVISION</h5>
            <h4>Maj. General B.I Ahanotu</h4>
            <span>Commanding Officer</span>
            <p>Explicabo voluptatem mollitia et repellat qui dolorum quasi</p>
            <a href="#" class="btn btn-primary">Read More</a>
          </div>
        </div>
      </div>

      <div
        class="col-lg-6 mt-4 mt-lg-0 aos-init aos-animate"
        data-aos="fade-up"
        data-aos-delay="200"
      >
        <div class="member d-flex align-items-start">
          <div class="pic">
            <img
              src="../../assets/img/pexels-pixabay-372797.jpg"
              class="img-fluid"
              alt=""
            />
          </div>
          <div class="member-info">
            <h5>7th Infantry Division (JTF-RO)</h5>
            <h4>Brig. Gen. A.B Biu</h4>
            <span>Commanding Officer</span>
            <p>
              Aut maiores voluptates amet et quis praesentium qui senda para
            </p>
            <a [routerLink]="['/division-seven']" class="btn btn-primary"
              >Read More</a
            >
          </div>
        </div>
      </div>

      <div
        class="col-lg-6 mt-4 aos-init aos-animate"
        data-aos="fade-up"
        data-aos-delay="300"
      >
        <div class="member d-flex align-items-start">
          <div class="pic">
            <img
              src="../../assets/img/pexels-pixabay-372797.jpg"
              class="img-fluid"
              alt=""
            />
          </div>
          <div class="member-info">
            <h5>81st DIVISION</h5>
            <h4>Maj. Gen. P.J Dauke.</h4>
            <span>Commanding Officer</span>
            <p>Quisquam facilis cum velit laborum corrupti fuga rerum quia</p>
            <a [routerLink]="['/division-eight']" class="btn btn-primary"
              >Read More</a
            >
          </div>
        </div>
      </div>

      <div
        class="col-lg-6 mt-4 aos-init aos-animate"
        data-aos="fade-up"
        data-aos-delay="400"
      >
        <div class="member d-flex align-items-start">
          <div class="pic">
            <img
              src="../../assets/img/pexels-alex-meadow-3015481.jpg"
              class="img-fluid"
              alt=""
            />
          </div>
          <div class="member-info">
            <h5>82nd Division (Airborne and Amphibious)</h5>
            <h4>Maj. General A.B Abubakar.</h4>
            <span>Commanding Officer</span>
            <p>
              Dolorum tempora officiis odit laborum officiis et et accusamus
            </p>
            <a href="#" class="btn btn-primary">Read More</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<app-footer></app-footer>
