<nav id="mainnav-container">
  <div id="mainnav">
    <div id="mainnav-menu-wrap">
      <div class="nano">
        <ul id="mainnav-menu" class="list-group">
          <li>
            <a [routerLink]="['/showcase']">
              <i class="demo-pli-home icon-4x"></i>
              <span class="menu-title">Dashboard</span>
            </a>
          </li>
          <li>
            <a [routerLink]="['/register']">
              <i class="demo-pli-pen-5"></i>
              <span class="menu-title">Register Soldier</span>
            </a>
          </li>

          <li>
            <a [routerLink]="['/create-div']">
              <i class="demo-pli-receipt-4"></i>
              <span class="menu-title">Create Division</span>
            </a>
          </li>

          <li>
            <a [routerLink]="['/create-unit']">
              <i class="demo-pli-bar-chart"></i>
              <span class="menu-title">Create Unit</span>
            </a>
          </li>

          <li>
            <a [routerLink]="['/divisions']">
              <i class="demo-pli-repair"></i>
              <span class="menu-title">Divisions</span>
            </a>
          </li>

          <!--Menu list item-->
          <li>
            <a [routerLink]="['/deployed-lists']">
              <i class="demo-pli-warning-window"></i>
              <span class="menu-title">Deployed Soldiers</span>
            </a>

            <!--Submenu-->
          </li>

          <li class="list-divider"></li>

          <li class="list-header"></li>

          <li>
            <a [routerLink]="['/login']">
              <i class="demo-pli-computer-secure"></i>
              <span class="menu-title">Logout</span>
            </a>

            <!--Submenu-->
          </li>
        </ul>
      </div>
    </div>
  </div>
  >
</nav>
