<div class="section">
  <div class="container">
    <div class="row">
      <div class="col-md-8 blog-content pe-5">
        <p class="lead">
          The 81st Division of the Nigerian Army started operation in the year
          2000. It was created during the colonial rule to replace the Lagos
          Garrison Command with its Headquarters in Lagos, the then capital of
          Nigeria. The division is mandated to secure the Lagos and Ogun State
          area and its borders which are important for the economic development
          of the country. The 81st Division is also a Mechanised Infantry
          Division with Combat Support and Combat Service Support Units
          affiliated to it. It is currently commanded by Maj. Gen. P.J Dauke.
        </p>
      </div>
      <div class="col-md-4 sidebar">
        <div class="sidebar-box">
          <div class="categories">
            <h3>Formations</h3>
            <li>21 Armoured Brigade Maiduguri</li>
            <li>23 Armoured Brigade Yola</li>
            <li>
              33 Artillery Brigades includes 331 and 332 Field Artillery
              Regiments.
            </li>
            <li>23 Brigade which includes 231 and 232 Tank Battalions.</li>
          </div>
        </div>
        <div class="sidebar-box">
          <img
            src="../../../assets/img/protecting.jpg"
            alt="Gen.Thompson"
            class="img-fluid mb-5 w-70 rounded-circle"
          />
          <h3 class="text-black">About The Commander</h3>
          <p>
            Even the all-powerful Pointing has no control about the blind texts
            it is an almost unorthographic life One day however a small line of
            blind text by the name of Lorem Ipsum decided to leave for the far
            World of Grammar.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>
