<div id="container" class="cls-container">
  <!-- BACKGROUND IMAGE -->
  <!--===================================================-->
  <div id="bg-overlay"></div>

  <!-- REGISTRATION FORM -->
  <!--===================================================-->
  <div class="cls-content">
    <div class="cls-content-lg panel">
      <div class="panel-body">
        <div class="mar-ver pad-btm">
          <h1 class="h3">Fill in your Details</h1>
        </div>
        <form>
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <input
                  type="text"
                  class="form-control"
                  placeholder="Full name"
                  name="name"
                />
              </div>
              <div class="form-group">
                <input
                  type="text"
                  class="form-control"
                  placeholder="E-mail"
                  name="email"
                />
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <input
                  type="text"
                  class="form-control"
                  placeholder="Password"
                  name="password"
                />
              </div>
              <div class="form-group">
                <input
                  type="marital status"
                  class="form-control"
                  placeholder="marital status"
                  name="marital status"
                />
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <input
                  type="text"
                  class="form-control"
                  placeholder="age"
                  name="age"
                />
              </div>
              <div class="form-group">
                <input
                  type="Rank"
                  class="form-control"
                  placeholder="Rank"
                  name="rank"
                />
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <select
                  class="form-control"
                  data-placeholder="Choose a Country..."
                >
                  <option value="1st Division">1st Division</option>
                  <option value="2nd Division">2nd Division</option>
                  <option value="3rd Division">3rd Division</option>
                  <option value="81st Division">81st Division</option>
                  <option value="82nd Division">"82nd Division</option>
                  <option value="6th Division">6th Division</option>
                  <option value="7th Infantry">7th Infantry</option>
                  <option value="7th Division">7th Division</option>
                </select>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <select class="form-control" placeholder="Choose a unit...">
                  <option value="32 Artillery Brigade">
                    32 Artillery Brigade
                  </option>
                  <option value="Amphlibious Brigade">
                    Amphlibious Brigade
                  </option>
                  <option value="4 Brigade">4 Brigade</option>
                  <option value="63rd Brigade">63rd Brigade</option>
                  <option value="16 Brigade">16 Brigade</option>
                  <option value="18 Brigade">18 Brigade</option>
                  <option value="6 Brigade">6 Brigade</option>
                  <option value="37 Brigade">37 Brigade</option>
                </select>
              </div>
            </div>
          </div>

          <div class="checkbox pad-btm text-left">
            <input
              id="demo-form-checkbox"
              class="magic-checkbox"
              type="checkbox"
            />
            <label for="demo-form-checkbox"
              >I agree with the
              <a href="#" class="btn-link text-bold"
                >Terms and Conditions</a
              ></label
            >
          </div>
          <button class="btn btn-primary btn-lg btn-block" type="submit">
            Register
          </button>
        </form>
      </div>
      <div class="pad-all">
        Already have an account ?
        <a href="pages-login.html" class="btn-link mar-rgt text-bold"
          >Sign In</a
        >
      </div>
    </div>
  </div>
</div>
